.single-chart {
     margin-bottom: 30px;
     padding: 25px 0 0 0;
     background: #FFFFFF;
     border: 1px solid #EEEEEE;
     border-radius: 10px;
     .chart-title {
          margin: 0;
          padding-left: 20px;
          font-size: 1.8rem;
          font-weight: 600;
          color: #221F1F;
     }
}