.primary-tabs {
     .nav-tabs {
          border-bottom: none;
          .nav-item {
               margin-right: 15px;
               margin-bottom: 0;
               .nav-link {
                    width: 170px;
                    height: 55px;
                    line-height: 45px;
                    border: 1px solid #EEEEEE;
                    border-bottom: none;
                    text-align: center;
                    border-radius: 10px 10px 0 0;
                    font-size: 15px;
                    font-weight: 400;
                    text-transform: capitalize;
                    color: #515151;
                    &.active {
                         border-color: var(--primary-color);
                         color: var(--primary-color);
                    }
               }
          }
     }
}
@media (max-width: 480px) {
     .primary-tabs .nav-tabs .nav-item {
          width: 100%;
          margin-right: 0;
     }
     .primary-tabs .nav-tabs .nav-item .nav-link {
          width: 100%;
          border-radius: 10px;
          line-height: 45px;
          border-bottom: 1px solid #EEEEEE;
     }
}